* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
}

.app,
html,
body {
    height: 100%;
    width: 100%;
}
body {
    background: linear-gradient(45deg, #0a1b20, #2e464d);
}

.post {
    position: relative;
    display: flex;
    margin-top: 16px;
    padding: 8px;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(45deg, #38555e, #406068);
    box-shadow: 6px 4px 5px rgba(102, 111, 112, 0.5);
    color: white;
}

.post:hover {
    transform: scale(1.2, 1.2) translateX(15%);
}

.post:active {
    background: linear-gradient(45deg, rgba(56, 85, 94, 0.5), rgba(64, 96, 104, 0.5));
    box-shadow: 6px 4px 5px rgba(102, 111, 112, 0.2);
}

.post_button {
    position: absolute;
    right: 0;
    margin-right: 8px;
}

.post_content {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.header_text {
    color: #d5b19f;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.post_list_header {
    text-align: center;
    color: #d5b19f;
}

b {
    color: #d5b19f;
}

.post_list {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 8px;
    width: 35%;
}

.post_list_add_btn {
    margin-top: 16px;
    width: 100%;
}

.viewer {
    position: absolute;
    background: linear-gradient(45deg, #38555e, #406068);
    width: 60%;
    height: 90%;
    top: 5%;
    bottom: 5%;
    right: 16px;
    z-index: -1;
}

button {
    padding: 8px;
    color: white;
    font-size: 14px;
    background: #e08b0a;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: "Roboto", serif;
}