.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    padding: 25px;
    background: linear-gradient(45deg, #0a1b20, #2e464d);
    box-shadow: 6px 4px 15px #97cbb7, -6px -4px 15px #97cbb7;
    border-radius: 16px;
    min-width: 400px;
}